.file-btn {
  min-width: 200px;
  height: 50px;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #8a3ffc;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 2px #8a3ffc;
}

.file-btn:hover {
  background-color: #a269fa;
}

.file-btn:disabled {
  background-color: #efe8fa;
  box-shadow: 0 0 0;
}

.file-btn:disabled:active {
  transform: scale(1);
}

.file-btn:active {
  transform: scale(0.95);
}
