.nav {
  background: rgb(29, 27, 29);
  background: linear-gradient(
    90deg,
    rgba(29, 27, 29, 1) 0%,
    rgba(23, 22, 22, 1) 41%,
    rgba(45, 45, 45, 1) 100%
  );
}

.nav-register {
  background: rgb(29, 27, 29);
  background: linear-gradient(
    90deg,
    rgba(29, 27, 29, 1) 0%,
    rgba(23, 22, 22, 1) 41%,
    rgba(45, 45, 45, 1) 100%
  );
}

.logo {
  cursor: pointer;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
