.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #1e1f22;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  color: #80a7d7;
  font-size: 60px;
}
